<div class="layout-container">

  <header class="header" role="banner">
    {{ page.header }}
  </header>

  <div class="primary-menu">
    {{ page.primary_menu }}
  </div>

  <div class="highlighted">
    {{ page.highlighted }}
  </div>

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    {% block content_hero %}
      {% if page.content_hero %}
        <div class="content-hero">
          {{ page.content_hero }}
        </div>
      {% endif %}
    {% endblock content_hero %}

    {% block content_main %}
      {% if page.content or page.content_sidebar %}
        <div class="content-main-container grid-row">
          <div class="content-main">
            {{ page.content }}
          </div>

          {% if page.content_sidebar %}
            <div class="content-sidebar">
              {{ page.content_sidebar }}
            </div>
          {% endif %}
        </div>
      {% endif %}
    {% endblock %}

    {% if page.content_bottom %}
      <div class="content-bottom">
        {{ page.content_bottom }}
      </div>
    {% endif %}
  </main>

  {% block featured %}
    {% if page.featured_first or page.featured_second or page.featured_third %}
      <div class="featured grid-row">
        {{ page.featured_first }}
        {{ page.featured_second }}
        {{ page.featured_third }}
      </div>
    {% endif %}
  {% endblock %}

  {% block secondary %}
    {% if page.secondary_first or page.secondary_second %}
      <div class="secondary grid-row">
        {{ page.secondary_first }}
        {{ page.secondary_second }}
      </div>
    {% endif %}
  {% endblock %}

  {% block footer %}
    {% if page.footer %}
      <footer class="footer" role="contentinfo">
        {{ page.footer }}
      </footer>
    {% endif %}
  {% endblock %}

</div>
