<div class="layout-container">

  <header role="banner">
    {{ page.header }}
  </header>

  {{ page.primary_menu }}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
      {{ page.content }}
    </div>{# /.layout-content #}

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>

  {% if page.featured_first or page.featured_second or page.featured_third %}
    <div class="featured">
      <aside class="layout-container clearfix" role="complementary">
        {{ page.featured_first }}
        {{ page.featured_second }}
        {{ page.featured_third }}
      </aside>
    </div>
  {% endif %}

  {% if page.secondary_first or page.secondary_second %}
    <div class="secondary">
      <aside class="layout-container clearfix" role="complementary">
        {{ page.secondary_first }}
        {{ page.secondary_second }}
      </aside>
    </div>
  {% endif %}

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
